:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2, h3, h4 {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/*------------------------------------------------------ */
.background-img {
  background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}

.shadow-text-line {
  filter: drop-shadow(1px 1px 5px #abd5ec);
}

.box-shadow {
  box-shadow: 0 0 1px rgba(143, 133, 133, 0.1),
  0 0 3px rgba(143, 133, 133, 0.1),
  0 0 7px rgba(143, 133, 133, 0.1),
  0 0 12px rgba(143, 133, 133, 0.1);
}

/*重置ui框架样式*/

.el-main {
  --el-main-padding: 0
}

.dialog__header, .el-dialog__header {
  height: 0;
  padding: 0;
}

.el-dialog {
  border-radius: 20px !important;
  width: 90vw !important;
  max-width: 1400px;
  min-width: 300px;
  overflow: hidden;
  max-height: 80vh;
  --el-dialog-margin-top: 10vh !important;
}


/*---------------------------------------------------*/
@media screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (max-width: 465px) {
  html, body {
    font-size: 12px; /* 在小屏幕下设置不同的根元素字体大小 */
  }
}


/* 创建水波纹效果 */
.waves {
  width: 400px;
  height: 200px;
  /* 波纹颜色 */
  --c: #87c0ca;
  --w1: radial-gradient(100% 57.1% at top, #0000 100%, var(--c) 100.5%) no-repeat;
  --w2: radial-gradient(100% 57.1% at bottom, var(--c) 100%, #0000 100.5%) no-repeat;
  background: var(--w1), var(--w2), var(--w1), var(--w2);
  background-size: 50.5% 100%;
  animation: wave-animate 6s infinite linear;
}

@keyframes wave-animate {
  from {
    background-position-x: -200%, -100%, 0, 100%;
  }
  to {
    background-position-x: 0, 100%, 200%, 300%;
  }
}

html, body, #app {
  overflow: hidden;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

:root {
  --navigation-card: 60px;
  --el-main-height: 94%;
  --navigation-card-color: transparent;
  --profiles-fixed-btn-background: transparent;
  --profiles-fixed-btn-color: transparent;
}


#nprogress .bar {
  background-image: linear-gradient(0deg, #57d3c0, #47abfa, #acd4ff) !important;
  height: 4px !important;
  filter: contrast(1);
}

